extends layouts/default

block content
	nav.navbar.navbar--dark.navbar--sticky.navbar--expand-lg
		.grid
			a.navbar__brand(href='#')
				+icon('home')
				| Home

			.navbar__collapse
				ul.navbar__nav
					li.navbar__nav__item.dropdown
						button.navbar__link.dropdown__toggle #[+icon('dashboard')] Examples
						.dropdown__list.dropdown__list--bottom-right
							each i in [1, 2, 3, 4, 5, 6]
								a(href='#' + i).dropdown__item Example #{i}

					li.navbar__nav__item.dropdown
						a(href='https://gitlab.com/acaua/webgl-with-threejs', target='_blank').navbar__link #[+icon('folder')] Repository

			button.navbar__menu.bt.bt--fussy
				+icon('menu')

	#canvas
