script(src='./dependencies/zepto/zepto.min.js')
script(src='./dependencies/three.js/build/three.min.js')
script(src='./dependencies/three.js/examples/js/controls/OrbitControls.js')
script(src='./dependencies/threex/threex.atmospherematerial.js')
script(src='./dependencies/three.js/examples/js/shaders/CopyShader.js')
script(src='./dependencies/three.js/examples/js/shaders/RGBShiftShader.js')
script(src='./dependencies/three.js/examples/js/shaders/DigitalGlitch.js')
script(src='./dependencies/three.js/examples/js/postprocessing/EffectComposer.js')
script(src='./dependencies/three.js/examples/js/postprocessing/RenderPass.js')
script(src='./dependencies/three.js/examples/js/postprocessing/MaskPass.js')
script(src='./dependencies/three.js/examples/js/postprocessing/ShaderPass.js')
script(src='./dependencies/three.js/examples/js/postprocessing/GlitchPass.js')
script(src='./dependencies/three.js/examples/js/loaders/STLLoader.js')
script(src='./js/app.js')
